body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url("pic.jpg");
}

.topnav {
  overflow: hidden;
  
}

.bannerText{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:black;
  text-align: center;
  padding: 80px 83px;
  font-size: 40px;
  font-style: italic;
  line-height: 0.7;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.flex-container{
  display: flex;
}

.user-banner {
    position: relative;
    height: 350px;
    background: linear-gradient(red,yellow,blue);
    color: #fff;
    opacity: 0.8;
}

.user-banner2 {
    position: fixed;
    height: 100px;
    background: linear-gradient(red,yellow,blue);
    color: #fff;
    opacity: 0.8;
    bottom:0;
    width:1440px;
}

.user-avatar img {
    height: 100%;
    width: 100%;
    position: absolute;
 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.user-info {
    padding-top: 30px;
    padding-left: 60px;
    width:400px;
}

.user-info hr {
    width: 500px;
    border: none;
    margin-top: 15px;
    border-top: 10px solid green;
}

p{
  line-height: 0.7;
  font-size: 16px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #D69F96;
  overflow-x: hidden;
  padding-top: 20px;
  
}

